@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  /* user-select: none; */
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightgray; */
}
.container{
  width: 90vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: .3rem solid #000; */
  border-radius: 1rem;
}
.input-container{
  width: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  /* background-color: #000; */
  border-radius: .5rem;
  border: 0.3 solid #fff;
  box-shadow: 0 0 .5rem #a09fa7 inset ;
}
.input-container div{
  color: #000;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
}
.input{
  height: 70%;
  /* background-color: green; */
  font-size: 2.5rem;
}
.result{
  height: 30%;
  font-size: 1.8rem;
  /* background-color: rebeccapurple; */
}
.btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 8;
  /* background-color: red; */
  gap: 3%;
  /* padding: 1rem; */
}
.btn-container span{
  width: 22%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: .5rem;
  transition-duration: .3s;
}
.btn{
  box-shadow: 0 0 .5rem #ceced3 inset;
}
.op{
  background-color: #000;
  color: #fff;
}
span:hover{
  cursor: pointer;
  transform: scale(1.1);
}